body{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    box-shadow: 0 1px 25px #e5e7eb;
    padding-top: 0;
    background-color: white;
}
.header{
    background-color: #F2C94C;
    width: 100%;
    text-align: center;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.9rem;
    margin-top: 0;
}
img{
    height: 25vh;
    margin-bottom: -2rem;
}
h2{
    color: #F2C94C;
    margin-bottom: -1rem;
    font-size: 1.8rem;
}
textarea , #output{
    height: 18vh;
    width: 30vw;
    border: 2px solid;
    margin: 2rem;
    border-radius: 20px;
    padding-left: 1.5rem;
    padding-top: 2rem;
    font-size: 1.1rem;
    
}
button{
    height: 5vh;
    width: 10vw;
    margin-bottom: 1.2rem;
    background-color: #F2C94C;
    color: #ffff;
    border-radius: 5px;
    font-size: 1.2rem;
    border: none;
}
.text{
    font-size: 1.2rem;
}
footer{
    background-color: #F2C94C;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-text{
    color: black;
    font-size: 2rem;
}
p{
    font-size: 1.1rem;
}

@media (max-width:1000px){
    body{
        padding: 1rem;
        
    }
    .container{
        width: 100%;
    }
    h2{
        /* margin-left: 4rem; */
        text-align: center;
    }
    textarea , #output{
        width: 80%;
    }
    button{
        width: 50%;
    }
    p{
        text-align: center;
    }
    .footer-text{
        text-align: center;
    }
}